.shop {
	// .shop__container

	&__container {
	}

	// .shop__body

	&__body {
		display: flex;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
		}
	}

	// .shop__column

	&__column {
		flex: 0 1 16.666%;
		// .shop__column_b

		&_b {
			flex: 0 1 33.333%;
		}
		@media (max-width: 1100px) {
			flex: 0 1 50%;
			&:first-child {
				flex: 1 1 100%;
			}
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}

	// .shop__block

	&__block {
	}

	// .shop__footer

	&__footer {
		padding: 75px 0;
		text-align: center;
		background-color: #282f35;
		@media (max-width: 1100px) {
			padding: 50px 0;
		}
	}
}
.block-shop {
	height: 100%;
	// .block-shop__row

	&__row {
		display: flex;
	}

	// .block-shop__column

	&__column {
		flex: 0 1 50%;
	}

	// .block-shop__item

	&__item {
		padding-bottom: 50%;
		height: auto;
		&_l {
			padding: 0px 0px 100% 0px;
		}
		&_b {
			padding: 0px 0px 200.5% 0px;
		}
	}
}

.footer-shop {
	// .footer-shop__container

	&__container {
	}

	// .footer-shop__btn

	&__btn {
		display: inline-block;
		height: 50px;
		padding: 0 60px;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		@media (max-width: 1100px) {
			padding: 0 30px;
		}
	}
}
